body,
html {
  min-height: 100vh;
}

.page {
    @include poz-reset;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: $text;
    font-weight: $regularWeight;
}

.page__wrapper {
    min-width: 428px;
    min-height: 100vh;
    @include flex;
}

img {
    max-width: 100%;
    height: auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



