*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}

.page {
    @include poz-reset;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: $text;
    font-weight: $regular-weight;
}

.page__wrapper {
    @include flex-column;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    min-width: 428px;
    max-width: 1422px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 $padding-width;
    box-sizing: border-box;

    @media screen and (min-width: $pc-screen) {
        min-width: $pc-screen - ($padding-width * 2);
    }
}

.special-sign{
    font-size: 12px;
}