@mixin outline {
    outline: 2px solid black;
}

@mixin poz-reset {
    padding: 0;
    margin: 0;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin grid {
    display: grid;
}

@mixin on-top {
    z-index: 1;
    position: relative;
}