/* colors */
$black: #000000;
$specialBlack: #111010;
$gray: #616161;
$lightGray: #b4b4b4;
$oldPriceColor: #CACACA;
$lightestGray: #ECECEC;
$white: #FFFFFF;
$currentColor: #979797;
$heroColor: #666A6F;


/* font sizes */
$title: 38px;
$subtitle: 28px;
$productsTitle: 22px;
$text: 20px;
$mediumText: 18px;
$smallerText: 15px;

/* font weight */
$regularWeight: 400;
$semiBold: 600;
$bold: 700;

/* Screen size break points */
$pc-screen: 1465px;
$heroBreakpoint: 999px;
$paddingWidth: 20px;