/* colors */
$black: #000000;
$special-black: #111010;
$gray: #616161;
$light-gray: #b4b4b4;
$old-price-color: #CACACA;
$lightest-gray: #ECECEC;
$white: #FFFFFF;
$current-color: #979797;
$hero-color: #666A6F;
$special-gray: #C4C4C4;
$text-box-color: #F7F7F7;
$decoration-color: #474747;


/* font sizes */
$title: 38px;
$products-title: 24px;
$mobile-title: 28px;
$inverted-mobile-title: 22px;
$text: 20px;
$medium-text: 17px;
$smaller-text: 14px;
$smallest-text: 12px;

/* font weight */
$regular-weight: 400;
$semi-bold: 600;
$bold: 700;

/* Screen size break points */
$pc-screen: 1465px;
$mid-breakpoint: 999px;

$padding-width: 20px;