/* colors */
$black: #000000;
$specialBlack: #111010;
$gray: #616161;
$lightGray: #b4b4b4;
$oldPriceColor: #CACACA;
$lightestGray: #ECECEC;
$white: #FFFFFF;
$currentColor: #979797;

/* font sizes */
$title: 48px;
$subtitle: 28px;
$productsTitle: 26px;
$text: 20px;
$pcMenu: 16px;

/* font weight */
$regularWeight: 400;
$semiBold: 600;
$bold: 700;

/* Screen size */
$pc-screen: 1465px;