.menu {
    @include poz-reset;
    @include flex-column;
    width: 100%;
    text-align: center;
    background-color: $light-gray;

    @media screen and (min-width: $pc-screen) {
        background-color: $white;
        flex-direction: row;
        width: max-content;
    }
}

.menu__item {
    height: max-content;
    list-style: none;

    @media screen and (min-width: $pc-screen) {
        margin-left: 25px;
        margin-right: 25px;
    }
}

.menu__link {
    @include poz-reset;
    @include flex-row;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    height: 40px;
    line-height: 30px;
    border-bottom: 1px solid;
    border-color: $old-price-color;
    color: $white;
    font-size: $products-title;
    width: 100%;
    text-decoration: none;

    @media screen and (min-width: $pc-screen) {
        padding: 0;
        color: $black;
        text-transform: uppercase;
        font-size: $smaller-text;
        font-weight: $bold;
        border: none;
    }
}

.menu__link--current {
    
    @media screen and (min-width: $pc-screen) {
        color: $current-color;
    }
}
