.slider-btn {
    position: absolute;
    cursor: pointer;
    top: 0px;
    border: none;
    background-color: $white;
    width: 37px;
    height: 37px;

    &::before {
        content: '';
        position: absolute;
        top: 44%;
        right: 30%;
        width: 13px;
        height: 2px;
        background-color: $black;
    }

    &::after {
        content: '';
        position: absolute;
        top: 66%;
        right: 30%;
        width: 13px;
        height: 2px;
        background-color: $black;
    }
}

.slider-btn--right {
    top: 43%;
    right: -17px;

    &::after {
        transform: rotate(-45deg);
    }

    &::before {
        transform: rotate(+45deg);
        top: 45%;
    }

    @media screen and (min-width: $midBreakpoint) {
        display: none;
    }
}

.slider-btn--left {
    top: 43%;
    left: -17px;
    &::after {
        transform: rotate(45deg);
    }

    &::before {
        transform: rotate(-45deg);
    }

    @media screen and (min-width: $midBreakpoint) {
        display: none;
    }
}