.link {
    @include poz-reset;
    text-decoration: none;
    display: inline-block;
    padding: 14px 40px;
    background-color: $white;
    color: $black;
    text-transform: uppercase;
    font-size: $smaller-text;
    font-weight: $bold;
    transition: transform 0.1s ease-in;

    &:hover {
        color: $decoration-color;
        transform: scale(0.95);
    }

    &:active {
        color: $white;
        background-color: $black;
    }
}

.link--inverted {
    background-color: $black;
    color: $white;

    

    &:active {
        color: $black;
        background-color: $white;
    }
}